{{ define "content" }}
<div class="container">
    <div class="row">
        <div class="column column-offset-25 column-50">
            <h3>Detail Berat Badan</h3>
            <table>
                <thead>
                    <tr>
                        <th>Tanggal</th>
                        <th>{{to_string_date .Data.Tanggal}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Max</td>
                        <td>{{.Data.BeratMax}}</td>
                    </tr>
                    <tr>
                        <td>Min</td>
                        <td>{{.Data.BeratMin}}</td>
                    </tr>
                    <tr>
                        <td>Perbedaan</td>
                        <td>{{minus .Data.BeratMax .Data.BeratMin}}</td>
                    </tr>
                </tbody>
            </table>
            <a class="button button-primary" href="/">Ke Halaman Depan</a>
        </div>
    </div>
</div>
{{ end }}