{{ define "content" }}
<div class="container">
    <div class="row">
        <div class="column column-offset-25 column-50">
            <h3>{{ .Data.additional_info.page_title}}</h3>
            {{if .Data.error}}
                <ul>
                {{range .Data.error}}
                    <li>{{.}}</li>                
                {{end}}
                </ul>
            {{end}}
            <form action="" method="POST" id="form-berat">
                <fieldset>
                    <label for="tanggalField">Tanggal</label>
                    <input type="text" name="tanggal" id="tanggalField" readonly value="{{ .Data.currentValue.tanggal }}">
                    <label for="beratMax">Berat Max</label>
                    <input type="text" name="berat_max" id="beratMax" value="{{ .Data.currentValue.beratMax }}">
                    <label for="beratMin">Berat Min</label>
                    <input type="text" name="berat_min" id="beratMin" value="{{ .Data.currentValue.beratMin }}">
                    <input class="button-primary" type="submit" value="Simpan Data">
                    <a class="button button-clear" href="/">Batal</a>
                </fieldset>
            </form>
            <script type="text/javascript">
                jQuery(document).ready(function(){
                    $('#tanggalField').datepicker({
                        language: 'en',
                        startDate: new Date(),
                        dateFormat:'yyyy-mm-dd'
                    });
                });
            </script>
        </div>
    </div>
</div>
{{ end }}