{{ define "layout" }}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{{.HeadTitle}}</title>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" type="text/css" href="/css/template.css">
        <script src="/js/plugins.js"></script>
    </head>
    <body>
        {{ template "content" .}}
    </body>
</html>
{{ end }}