{{ define "content" }}
<div class="container">
    <div class="row">
        <div class="column column-offset-20 column-60">
            <h3>Tabel Info Berat Badan</h3>
            <a class="button button-primary" href="/berat/create">Tambah Data</a>
            <table>
                <thead>
                    <tr>
                    <th>Tanggal</th>
                    <th>Max</th>
                    <th>Min</th>
                    <th>Perbedaan</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{if .Data.berat_items}}
                        {{range .Data.berat_items}}
                            <tr>
                                <td><a href="/berat/{{.ID}}">{{to_string_date .Tanggal}}</a></td>
                                <td>{{two_decimal_number .BeratMax}}</td>
                                <td>{{two_decimal_number .BeratMin}}</td>
                                <td>{{minus .BeratMax .BeratMin}}</td>
                                <td><a href="/berat/delete/{{.ID}}" class="button button-small button-clear">Hapus</a>&nbsp;<a href="/berat/edit/{{.ID}}" class="button button-small">Edit</a></td>
                            </tr>                
                        {{end}}
                        <tr>
                            <td><strong>Rata-rata</strong></td>
                            <td><strong>{{.Data.average_max}}</strong></td>
                            <td><strong>{{.Data.average_min}}</strong></td>
                            <td><strong>{{.Data.average_selisih}}</strong></td>
                            <td></td>
                        </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{ end }}